{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ configuration.label|replace({' ': '-'})|lower,
    attributes.id,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="city-branch-information-wrap">
      {{ content|without('field_link','field_disable_city_link','field_hide_street_address') }}
      {% set viewblock = 'secondary_teaser' %}
      {% if (content.field_disable_city_link[0]['#markup'] == 1) %}
        {% set viewblock = 'quaternary_teaser' %}
      {% elseif (content.field_hide_street_address[0]['#markup'] == 1) %}
        {% set viewblock = 'quinary_teaser' %}
      {% endif %}
      {{ drupal_view('branches', 'block_location_city', viewblock) }}
      {{ content.field_link }}
    </div>
  {% endblock %}
</div>
