{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ configuration.label|replace({' ': '-'})|lower,
    attributes.id,
    'block-' ~ plugin_id|clean_class
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    <div class="basic-wrap">
      {{ content|without('field_region_filter','field_display_branch') }}
      {% set which_view = 'block_' ~ content.field_display_branch.0['#markup'] %}
      {{ drupal_view('branches', which_view, content.field_region_filter[0]['#plain_text'], content.field_region_filter[1]['#plain_text'], content.field_region_filter[2]['#plain_text'], content.field_region_filter[3]['#plain_text'], content.field_region_filter[4]['#plain_text'] ) }}
    </div>
  {% endblock %}
</div>
