{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ configuration.label|replace({' ': '-'})|lower,
    attributes.id,
    'block-' ~ plugin_id|clean_class,
    'center-align'
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="service-text-wrap">
      {{ content|without('field_text_format') }}

      {% set which_view = 'block_' ~ content.field_text_format.0['#markup'] %}
      {{ drupal_view('service_text', which_view) }}
    </div>
  {% endblock %}
</div>
