{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ configuration.label|replace({' ': '-'})|lower,
    attributes.id,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    <div class="star-ratings-wrap">
        <div class="rating-inner-wrap">
        <span class="rating-heading">{{ content.field_rating[0] }} <span class="postlabel">Star Rating</span></span>
        <div class="stars">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
        </div>
        {{ content|without('field_rating') }}
      </div>
    </div>
  {% endblock %}
</div>
