{%
  set classes = [
    'node',
    'node-' ~ node.id,
    node.label|render|lower|replace({' ':'-'}),
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{attributes.addClass(classes).removeAttribute('role')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{content_attributes.addClass('node__content')}}>
    {% if content.field_disable_link['#items'].value != '1' %}
      <a class="service-link" href="{{ url }}" alt="Learn More About {{ label|render|striptags }}">
    {% endif %}
        <h3>{{ label }}</h3>
        {{ content.field_icon_service }}
        <div class="service-copy">
          <div class="service-text">
            {{ content|without('title-text','field_image_service','field_icon_service','field_disable_link') }}
          </div>
          {% if content.field_disable_link['#items'].value != '1' %}
            <div class="learn-more button-arrow">
              <span>Learn More</span>
            </div>
          {% endif %}
        </div>
    {% if content.field_disable_link['#items'].value != '1' %}
      </a>
    {% endif %}
  </div>

</article>
