{% set picon = content.field_icon_package|render ? 'yes' : 'no' %}
{%
  set classes = [
    'node',
    'node-' ~ node.id,
    node.label|render|lower|replace({' ':'-'}),
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'featured-' ~ node.field_featured.value,
    'icon-' ~ picon,
  ]
%}
{{ attach_library('classy/node') }}
<article{{attributes.addClass(classes).removeAttribute('role')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{content_attributes.addClass('node__content featured-')}}>
    {{ content.field_icon_package }}
    <div class="package-copy">
      {{ content|without('field_icon_package','field_starting_price','field_price_suffix') }}
      {% if content.field_starting_price[0] is not empty %}
        <div class="price-prefix">Starting at {{ content.field_starting_price }} {{ content.field_price_suffix }}</div>
      {% endif %}
    </div>
  </div>

</article>

