{%
  set classes = [
    'node',
    'node-' ~ node.id,
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div class="article-wrapper">
  {{ title_prefix }}
  {{ title_suffix }}
  {% if content.field_button[0]['#url'] is not empty %}
    {% if content.field_button[0]['#url'].options.attributes is not empty %}
      {% set view_all_attributes = create_attribute(content.field_button[0]['#url'].options.attributes) %}
    {% else %}
      {% set view_all_attributes = create_attribute() %}
    {% endif %}
    <a href="{{ content.field_button[0]['#url'] }}" alt="{{ content.field_button_text[0]|render|striptags }}" {{view_all_attributes.addClass(['special-offer-link'])}}>
  {% else %}
    <div class="special-offer-link">
  {% endif %}
      <article{{attributes.addClass(classes).removeAttribute('role')}}>
        <div{{content_attributes.addClass('node__content')}}>
          {{ content|without('field_featured','field_special_offer_featured_ico','field_button','field_button_text') }}
          {% if content.field_button_text.0 is not empty %}
            <div class="field--name-field-button">
              <span>{{ content.field_button_text.0 }}</span>
            </div>
          {% endif %}
        </div>
      </article>
  {% if content.field_button[0]['#url'] is not empty %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>
