{%
  set classes = [
    'node',
    'node-' ~ node.id,
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{attributes.addClass(classes).removeAttribute('role')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{content_attributes.addClass('node__content')}}>
      <a href="{{ url }}">
        {{ content.field_image_profile }}
      </a>
      <div class="profile-copy-wrap">
        <div class="profile-copy">
          <a class="title-link" href="{{ url }}">{{ label }}</a>
          {{ content|without('field_image_profile') }}
        </div>
      </div>
  </div>

</article>
